<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="row m-5">
                <div class="col-md-12">
                    <h2>CV Database Profile List</h2>
                </div>
            </div>

            {% for profile in profiles %}
            <div class="row">
                <div class="col-md-6">
                    {{profile.name}}
                </div>
                <div class="col-md-6">
                    {{profile.id}}
                    <a href="/{{profile.id}}" class="btn btn-warning">Download CV</a>
                </div>
            </div>
        <hr>
            {% endfor %}



        </div>
        
        
        <script src="" async defer></script>
    </body>
</html>